.myBG {
    height: 100vh;
    background: url("../assets/image/bg/hero.jpg");
    background-size: cover;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.trending {
    height: auto;
    background: url("../assets/image/bg/gedung.jpg");
    background-size: cover;
}

.superhero {
    height: auto;
    background: url("../assets/image/bg/gedung2.jpg");
    background-size: cover;
}

.movieWrapper {

}

.movieImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.Images {
    height: 500px;
}

